.search-box{
    -fx-background-color:#FFFFFF;
    -fx-background-radius: 100;
}

.transparent{
    -fx-background-color: rgba(0,0,0,0);
}

.search-button{
    -fx-background-color: #828282;
    -fx-background-radius: 30;
}

.right-bar{
    -fx-background-color: #D3D3D3;
}

.shadow{
    -fx-effect: dropShadow(three-pass-box,rgba(0,0,0,0.1), 10.0 , 0.0 , 0.0 ,10.0);
}

.chosen-fruit-card{
    -fx-background-color: #F16C31;
    -fx-background-radius: 30;
}

.comboBox{
    -fx-background-color: rgba(255,255,255,0.3);
    -fx-background-radius: 30;
}

.add-btn{
    -fx-background-color: #FFFFFF;
    -fx-background-radius: 100;
}

.free-delivery-card{
    -fx-background-color: #D3D3D3;
    -fx-background-radius: 30;
}

.shopping-online-card{
    -fx-background-color: #BAEAC3;
    -fx-background-radius: 30;
}

.fruit-item{
    -fx-background-color: #FFFFFF;
    -fx-background-radius: 30;
}
.navbar {
    -fx-background-color: #81c408; /* Background color of the navbar */



    -fx-border-color:  #ffb524; /* Add border color */
    -fx-border-width: 1px; /* Set border width */
    -fx-border-radius: 5px; /* Optionally round the corners of the container */
    -fx-background-radius: 5px; /* Optionally round the corners of the container background */
}


.nav-button {
    -fx-background-color: white; /* Change this to the desired color */
    -fx-text-fill: black; /* Change text color to improve readability */
    -fx-font-size: 8px; /* Adjust font size as needed */
    -fx-font-weight: bold; /* Optionally make the text bold */
    -fx-font-family: "Arial", sans-serif; /* Use a good font type */

    -fx-background-radius: 5px; /* Optionally round the button corners */
}

.nav-button:hover {
    -fx-background-color: #303F9F; /* Change hover color as desired */
}
.btnEvent{
    -fx-background-color: orange;
    -fx-background-radius:8px;
    -fx-text-fill:#fff;
    -fx-font-size:14px;
    -fx-font-family:"Arial";
    -fx-cursor:hand;
}


.Background{
    -fx-background-color:linear-gradient(to bottom right,  #efefef, #81c408);
}

#card {
    -fx-background-color: #fff; /* Background color of the card */
    -fx-background-radius: 5px; /* Border radius of the card */
    -fx-border-color: #000; /* Border color of the card */
    -fx-border-width: 1px; /* Border width of the card */
    -fx-border-radius: 5px; /* Border radius of the card */
    -fx-padding: 10px; /* Padding inside the card */
}
.comment-label {
    -fx-font-size: 16px;
    -fx-text-fill: #666;
    -fx-padding: 5px;
}
#titlefx {
    -fx-text-fill: #81c408; /* Text color of the title */
    -fx-font-weight: bold; /* Bold font for the title */
}

#contentfx {
    -fx-text-fill: #ffb524; /* Text color of the content */
}
